/* RESET */

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

/* TYPOGRAPHY */

html {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 5.61rem;
}

h2 {
    font-size: 4.209rem;
}

h3 {
    font-size: 3.157rem;
}

h4 {
    font-size: 2.369rem;
}

h5 {
    font-size: 1.777rem;
}

h6 {
    font-size: 1.333rem;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #1d1e1d;
}

/* COMPONENTS */

.button,
.shades__button {
    display: inline-block;
    border: 2px solid #00AAA5;
    background-color: #00AAA5;
    color: #fafdfe;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap
}

.button:hover,
.shades__button:hover {
    border: 2px solid #00AAA5;
    color: #1d1e1d;
    background-color: transparent;
    transition: all 0.4s;
}

.shades__button {
    margin: 4.5rem 0 6.5rem;
}

.shades-button {
    display: flex;
    justify-content: center;
}


/* HEADER */

.site-header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 99;
    background-color: #fafdfe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.site-header__buttons {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.shop-button {
    background: none;
    border: none;
    color: #1d1e1d;
}

.menu-button {
    background: none;
    border: none;
    flex-shrink: 0;
    height: 24px;
    width: 24px;
}

.hamburger-menu { 
    background-color: #1d1e1d;
    height: 2px;
    width: 20px;
    position: relative;  
}

.hamburger-menu::before,
.hamburger-menu::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1d1e1d;
    top: -6px;
    left: 0;
    transition: top 0.2s 0.2s, transform 0.2s;
}

.hamburger-menu::after {
    top: 6px;
}

.menu-button.close .hamburger-menu::before,
.menu-button.close .hamburger-menu::after {
    top: 0;
}

.menu-button.close .hamburger-menu::before {
    transform: rotate(45deg);
    transition: top 0.2s, transform 0.2s 0.2s;
}

.menu-button.close .hamburger-menu::after {
    transform: rotate(-45deg);
    transition: top 0.2s, transform 0.2s 0.2s;
}

.menu-button.close .hamburger-menu {
    background-color: transparent;
    transition: background-color 0s 0.2s;
}

/* MENU */

.menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 4.5rem;
}

.menu__item--current {
    font-weight: 600;
}

.menu__link:hover {
    color: #00AAA5;
    transition: color 0.3s;
}

.full-menu {
    position: fixed;
    background-color: #fafdfe;
    opacity: 90%;
    top: 80px;
    bottom: 80%;
    left: 0;
    right: 0;
    z-index: 98;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    display: none;
}

.full-menu.open {
    display: flex;
}

.full-menu .sub-menu {
    display: flex;
    flex-direction: column;
}

.sub-menu--sm {
    display: none;
}

.sub-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sub-menu--lg {
    display: flex;
    gap: 2.5rem;
    padding-left: 14rem;
    padding-top: 1rem;
    z-index: 1;
}

/* HERO */

.hero__main {
    display: grid;
    grid-template-columns: minmax(40px, 1fr) [inner-start] minmax(0, 78.5rem) [inner-end] minmax(40px, 1fr);
    min-height: 100vh;
}

.hero__inner {
    display: grid;
    gap: 3.75rem;
    grid-column: inner;
    grid-template-columns: 1fr 1fr;
}

.social {
    position: absolute;
    right: 2.5rem;
    bottom: 2rem;
}

.social__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.social-resp {
    display: none;
}

.social-resp__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.hero__content {
    max-width: 38.5rem;
    margin-top: 15rem;
}

.hero__content h1 {
    font-size: 4.209rem;
    margin: 0 0 1rem 0;
}

.hero__content p {
    margin: 0 0 2rem 0;
}

.hero__content span {
    color: #00AAA5;
}

.hero__content p span {
    color: #1d1e1d;
    font-weight: 700;
}

.hero__image {
    background-image: url(assets/images/hero-img.jpg);
    max-width: 100%;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    aspect-ratio: 2.5/4;
}

.image__desc {
    background-color: rgb(92, 92, 92, 0.4);
    backdrop-filter: blur(2px);
    padding: 0.75rem 2.5rem;
}

.image__desc p {
    margin: 0;
    color: #fafdfe;
}

.shades-name {
    font-weight: 700;
}

.shades-price {
    font-weight: 300;
}

/* SHADES */

.shades__main {
    display: grid;
    grid-template-columns: minmax(40px, 1fr) [inner-start] minmax(0, 78.5rem) [inner-end] minmax(40px, 1fr);
}

.shades__inner {
    display: grid;
    grid-column: inner;
}

.shades__title {
    font-size: 4.209rem;
    color: #00AAA5;
    margin: 11.5rem 0 4.5rem 0;
}

/* SHADES HEADER */

.shades-header__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.collections, 
.filter {
    background: none;
    border: none;
    color: #1d1e1d;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 1.125rem;
}

/* SHADES CARDS */

.shades__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3.875rem;
    margin-bottom: 4.5rem;
}

.shades__card {
    flex: 1;
}
.shades__image {
    aspect-ratio: 3 / 4;
    flex: 1;
    min-width: 300px;
    width: 100%;
    margin-bottom: 0.5rem;
    background-size: cover;
    background-position: center;
}

/* .shades__image {
    width: 23.25rem;
    height: 26.8125rem;
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
    margin-bottom: 0.5rem;
    background-size: cover;
} */

.shades__image--center {
    background-position: center;
}

.shades__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.shades__name {
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0;
}

.shades__price {
    font-size: 1.125rem;
    font-weight: 300;
    margin: 0;
}

.shades__colors {
    display: flex;
    gap: 0.375rem;
    align-items: center;
}

.white,
.black,
.earth,
.fire,
.amber,
.sunshine,
.forrest,
.aqua {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.white {
    background-color: #fff;
    border: 0.5px solid #989898;
}

.white-border,
.amber-border,
.aqua-border,
.black-border,
.forrest-border,
.sunshine-border,
.earth-border,
.fire-border {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: 1px solid #000;
}

.black {
    background-color: #000;
}

.earth {
    background-color: #824A4A;
}

.fire {
    background-color: #FF3838;
}

.amber {
    background-color: #FF8A00;
}

.sunshine {
    background-color: #FFEB3B;
}

.forrest {
    background-color: #1AB700;
}

.aqua {
    background-color: #00AAA5;
}

/* SHADES CARD 2 */

.shades__image {
    display: flex;
    flex-direction: column-reverse;
}

.shades__desc {
    background-color: rgb(92, 92, 92, 0.4);
    backdrop-filter: blur(2px);
    padding: 1.875rem 2.5rem;
}

.shades__desc p {
    margin: 0;
    color: #fafdfe;
    font-weight: 700;
    font-size: 1.25rem;
}

/* FOOTER */

.shades-footer__inner {
    width: 100%;
    background-color: #000;
}

.shades-footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shades-footer__logo {
    margin: 6rem 0 4rem;
}

.footer-menu__item--title {
    margin: 0 0 2rem 0;
}

.footer-menu__item--title a {
    font-size: 1.125rem;
    color: #fafdfe;
    font-weight: 600;
}

.shades-footer__menus {
    display: flex;
    gap: 6.5rem;
}

.footer-menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-menu__link {
    color: #fafdfe;
}

.footer-socials__list {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 4rem 0 3.375rem;
    padding: 0;
}

.footer-socials__link path {
    fill: #00AAA5;
}

.shades-footer__menu-resp {
    display: none;
}



/* 1400px or less */

@media screen and (max-width: 1400px) {

    .hero__image {
        order: 1;
    }

    .hero__content {
        order: 2;
    }

    .social {
        display: none;
    }

    .social-resp {
        display: block;
        margin-bottom: 1rem;
    }

    .button {
        margin-bottom: 4rem;
    }
}

/* 1630 px or less */

@media screen and (max-width: 1630px) {
    
    .social {
        bottom: -2rem;
    }
}

/* 1320px or less */

@media screen and (max-width: 1320px) {
    
    .hero__inner {
        grid-template-columns: 1fr;
    }

    .hero__content {
        margin-top: 1rem;
    }
}

/* 1090px or less */

@media screen and (max-width: 1090px) {
    
    .sub-menu--lg{
        display: none;
    }  

    .menu--lg {
        display: none;
    } 

    .sub-menu--sm {
        display: flex;
        padding-top: 1rem;
        z-index: 1;
    }

    .full-menu {
        bottom: 70%;
    }

    .full-menu .sub-menu {
        gap: 0.5rem;
    }
}

/* 840 0r less */

@media screen and (max-width: 840px) {
    
    .shades__title {
        margin: 7.5rem 0 3rem 0;
    }
}

/* 680px or less */

@media screen and (max-width: 690px) {
    
    .hero__inner {
        gap: 3rem;
   }
    
    .hero__content h1 {
        font-size: clamp(2rem, -0.4098rem + 10.7103vw, 4.209rem);
        margin-bottom: 0.5rem;
    }

    .hero__content p {
        font-size: clamp(1rem, 0.4545rem + 2.4242vw, 1.5rem);
    }

    .shades-footer__menus {
        gap: 1.5rem;
    }

}

/* 480px or less */

@media screen and (max-width: 480px) {

    .hero__inner {
        gap: 1.5rem;
    }

    .image__desc p {
        line-height: 1.5rem;
        font-size: 1rem;
    }

    .social-resp__list {
        justify-content: center;
        gap: 3.5rem;
        margin-bottom: 1rem;
    }

    .button-resp {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .hero__content p {
        line-height: 1.5rem;
    }

    .shades__title {
        font-size: clamp(2rem, -0.4098rem + 10.7103vw, 4.209rem);
    }

    .shades-footer__logo {
        margin: 6rem 0 2rem;
    }

    .shades-footer__menus {
        display: none;
    }

    .shades-footer__menu-resp {
        display: flex;
        text-align: center;
    }

    .shades-footer__menu {
        display: flex;
    }

    .footer-menu__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .footer-menu__item a {
        font-size: 1.125rem;
        color: #fafdfe;
        font-weight: 600;
    }

    .footer-socials__list {
        margin: 3rem 0 3.375rem;
    }
}

/* 390px or less */

@media screen and (max-width: 390px) {
    
    .full-menu {
        bottom: 67%;
    }
}

/* 360px or less */

@media screen and (max-width: 360px) {
    
    .site-header__buttons {
        gap: 0.5rem;
    }

    .full-menu {
        bottom: 63%;
    }

}