/* RESET */

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

/* TYPOGRAPHY */

html {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    line-height: 5rem;
}

h1 {
    font-size: 5.61rem;
}

h2 {
    font-size: 4.209rem;
}

h3 {
    font-size: 3.157rem;
}

h4 {
    font-size: 2.369rem;
}

h5 {
    font-size: 1.777rem;
}

h6 {
    font-size: 1.333rem;
}

p {
    line-height: 2.5rem;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

/* COMPONENTS */

.button {
    display: inline-block;
    border: none;
    background-color: #00AAA5;
    color: #fafdfe;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}